body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input{
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 60%;
    border: none;
    padding: 10px;
    background: #076d1f;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #218838;
}

.message{
    margin-top: 10px;
    font-weight: bold;
}
